/* GENERAL */

h1, h2, h3, h4, h5 {
    font-family: teko, Arial, Helvetica, sans-serif;
}

body {
   margin: 0px;
   padding: 0px;
}


/* DDR NODE */

#ddr_node #node_info_bar {
    background-color: #000000DC;
    width: 100%;
    height: 60px;
    color: white;
    border-bottom: 12px solid #006cff;
    position: absolute;
    bottom: 0px;
}

#ddr_node #node_avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #b9b9b9;
    position: absolute;
    bottom: 12px;
    left: 12px;
    z-index: 999;
    overflow: hidden;
}

#ddr_node #node_avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ddr_node #node_avatar_spacer {
    width: 150px;
    height: 60px;
    float: left;
}

#ddr_node #node_info_bar div {
    float: left;
    height: 60px;
    padding: 0 12px;
    font-size: 28px;
}

#ddr_node #node_info_bar #node_flag {
    width: 42px;
    height: 24px;
    font-size: 24px;
    font-weight: 200;
    padding: 16px 0 0 0;
}

#ddr_node #node_info_bar #node_flag img {
    width: 100%;
    height: 100%;
    float: left;
    margin-right: 12px;
    box-shadow: 0 0 0px 2px #fff;

}

#ddr_node #node_info_bar #node_race_stats {
    float: right;
    margin-right: 140px;
}

#ddr_node #node_info_bar #node_race_stats #node_rank_stat {
    font-size: 40px!important;
    line-height: 1;
    padding-top: 14px;
    font-family: teko, Arial, Helvetica, sans-serif;
    font-weight: 300;

}

#ddr_node #node_info_bar #node_callsign {
    font-size: 40px;
    font-weight: 200;
    padding: 14px 0 0 12px;
    font-family: teko, Arial, Helvetica, sans-serif;
    text-transform: none;
    line-height: 1;
}


#ddr_node #node_position_spacer {
    width: 150px;
    height: 60px;
}

#ddr_node #node_position {
    width: 140px;
    height: 140px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 999;

}

#ddr_node #node_position #node_pos {
    font-size: 114px;
    color: #fff;
    text-align: center;
    padding-top: calc(50% - 40px);
    font-family: teko, Arial, Helvetica, sans-serif;
    line-height: 1;
    font-weight: 600;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-transform: italic;
    transform: skew(-15deg, 0deg);
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.555);
}

#ddr_node #node_position #node_pos sup {
    font-size: 34px;
}

#ddr_node #pilot_current_laps {
    position: absolute;
    right: 0px;
    top: 0px;
    /*display: none;*/
    font-size: 32px;
    font-weight: 800;
    color: #fff;
    text-shadow: 0 0 4px #000;
    font-family: 'Inconsolata', Courier, monospace;

}

#ddr_node #pilot_current_lap_text {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    text-align: center;
    font-size: 40px;
    line-height: 1;
    padding: 0;
    color: #fff;
    font-family: teko, Arial, Helvetica, sans-serif;
}

/* END OF DDR NODE */



/* DDR BAR */

#ddr_frame_topbar {
   font-family: Teko, Arial, Helvetica, sans-serif;
   background-color: #000;
   height: 72px;   
   width: 100vw;
   box-shadow: 0px 4px 2px #000000;
   background: linear-gradient(to bottom,  #000000ed 0%,#101010ed 40%,#101010ed 61%,#000000ed 100%);
}

#ddr_frame_topbar #timer {
    width: 300px;
    font-size: 18em;
    margin-left: 0px;
    margin: 10px;
}

#ddr_frame_topbar .timing-clock {
    line-height: normal;
    background-color: #5d5d5d7d;
    font-size: 32px;
    height: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 8px;
    width: 140px;
    font-family: 'Inconsolata', Courier, monospace;
    text-transform: uppercase;
    /*font-style: italic;*/
    border-radius: 8px;
    text-align: center;
    font-weight: 800;
    color: #fff;
}

#ddr_frame_topbar .race-running .timing-clock {
    background-color: #0000007d;
    color: greenyellow;
}

#ddr_frame_topbar .race-stopped .timing-clock {
    background-color: #00000000;
    color: red;
    background-color: #4f000052;
}

#ddr_frame_topbar .timing-clock.staging {
    background-color: #00000000;
    color: orange;
    background-color: rgba(93, 60, 0, 0.701);
}

#ddr_frame_topbar #block_center {
    float: left;
    width: calc(100vw - 320px);
}


#ddr_frame_topbar #block_left, #ddr_frame_topbar #block_right {
    float: left;
    height: 76px;
    width: 160px;
}

#ddr_frame_topbar #heatTitle {
    width: 100%;
    color: #fff;
    text-align: left;
    font-size: 42px;
    font-weight: 200;
    padding-top: 14px;
    margin-left: 14px;
    font-style: italic;
}

#ddr_frame_topbar #firstplace {
    color: #fff;
    text-align: center;
    font-size: 28px;
    padding-top: 18px;
}

#ddr_frame_topbar #firstplace img {
    display: inline-block;
    height: 20px;
    margin-right: 8px;
    padding-top: 8px;
    filter: invert(100%) sepia(17%) saturate(7479%) hue-rotate(183deg) brightness(118%) contrast(100%);
}

#ddr_frame_topbar .curr_heat_Title {
    font-weight: 500;
}

#ddr_frame_topbar #event_Title {
    font-weight: 200;
    font-size: 32px;
}

/* END OF DDR BAR */






/* DDR NEXT UP */

#ddr_nextup {
    background-color: #000000DC;
    border-radius: 16px;
    color: #fff;
}

#ddr_nextup #nextup_title {
    font-size: 56px;
    font-weight: 800;
    /*color: #013e77;*/
    padding: 20px 0 0 0;
    text-align: center;
    font-family: teko, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#ddr_nextup .curr_heat_title {
    font-family: teko, Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

#ddr_nextup #title {
    font-size: 42px;
    font-weight: 400;
    padding: 12px 0 42px 0;
    text-align: center;
}

#ddr_nextup .curr_event_name {
    font-family: teko, Arial, Helvetica, sans-serif;
}

#ddr_nextup #nextup_pilot_box {
    width: 1400px;
    height: 440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#ddr_nextup .nextup_pilot {
    /*min-width: 300px;*/
    height: 600px;
    flex: 1 0 calc(16% - 24px);
    margin: 0 12px;
}


#ddr_nextup .nextup_pilot_avatar {
    width: 100%;
    height: 220px;
}

#ddr_nextup .nextup_pilot_avatar_mask {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #b9b9b9;
    margin: 12px;
    overflow: hidden;
    margin: 0 auto;
}

#ddr_nextup .nextup_pilot_avatar_mask img {
    width: 100%;
    height: 100%;
}

#ddr_nextup .nextup_pilot_name {
    width: 100%;
    text-align: center;
    font-size: 46px;
    padding-top: 8px;
    font-family: teko, Arial, Helvetica, sans-serif;
}

#ddr_nextup .nextup_pilot_flag {
    width: 100%;
    text-align: center;
    padding-top: 16px;
}

#ddr_nextup .nextup_pilot_flag_mask {
    width: 48px;
    height: 32px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #000;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#ddr_nextup .nextup_pilot_flag_mask img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* END OF DDR NEXT UP */





/* DDR LEADERBOARD */

.leaderboard_title {
    font-size: 56px;
    font-weight: 400;
    padding: 10px 0 0 0;
    text-align: center;
    font-family: teko, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    height: 70px;
    overflow: hidden;
    color: #fff;
}

#ddr_leaderboard {
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    font-family: teko, Arial, Helvetica, sans-serif;
    line-height: 1;
    justify-content: center;
    display: flex;
}

#ddr_leaderboard.no_avatar .pilot_card_avatar {
    display: none!important;
}
#ddr_leaderboard.no_flag .pilot_card_flag {
    display: none!important;
}

.pilot_card {
    width: 100%;
    height: 60px;
    background-color: #000000DC;
    color: #fff;
    font-size: 36px;
    font-weight: 200;
    padding: 0 12px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    margin: 4px 0;
    overflow: hidden;
    border-bottom: 6px solid #006cff;
}

.pilot_card_pos {
    font-size: 40px;
    font-weight: 800;
    margin-right: 20px;
    padding-top: 10px;
    width: 40px;
}

.pilot_card_avatar {
    width: 64px;
    height: 50px;
    border-radius: 50%;
    background-color: #b9b9b9;
    margin-right: 18px;
    overflow: hidden;
}

.pilot_card_avatar img {
    width: 100%;
    height: 100%;
}

.pilot_card_flag img {
    width: 36px;
    height: 24px;
    margin-right: 12px;
    margin-top: 12px;
}

.pilot_card_pilot {
    width: 140px;
    height: 30px;
    float: left;
    padding: 8px 0;
    
}

.pilot_card_data {
    height: 60px;
    padding: 0 0px;
    float: right;
    width: calc(100% - 200px);
}

.pilot_card_data_item {
    float: right;
    height: 60px;
    padding: 0 0px;
    font-size: 36px;
    font-weight: 200;
    line-height: 1;
    display: flex;
    align-items: center;
}

.leaderboard_column {
    width: calc(50vw - 40px);
    padding: 0 20px;
}



/* END OF DDR LEADERBOARD */



/* DDR LEADERBOARD TOP 3 */

.leaderboard_top3_page {
    font-family: teko, Arial, Helvetica, sans-serif;
    line-height: 1;
    justify-content: center;
    display: flex;
}
.leaderboard_top3_page #leaderboard_top3 {
    width: 40vw;
    height: 100vh;
    color: #fff;
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.leaderboard_top3_page #leaderboard_top3_show_more {
    width: 60vw;
    height: 100vh;
    color: #fff;
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 160px;
}

.leaderboard_top3_podium {
    width: 100%;
    height: 60vh;
    color: #fff;
    float: left;
    margin: 25vh 0;
    padding: 0;
}

.top3_podium_item {
    width: 33%;
    height: 100%;
    color: #fff;
    float: left;
    margin: 0;
    padding: 0;
    bottom: 0px;
    text-align: center;
}

.top3_podium_item .top3_podium_item_info {
    width: calc(100% - 12px);
    background-color: #000000DC;
    border: 6px solid #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.top3_podium_item .top3_podium_item_avatar {
    width: 100%;
    height: 340px;
    margin-bottom: 0px;
}

.top3_podium_item .top3_podium_item_avatar img {
    width: 100%;
    height: 100%;
}

#leaderboard_top3_first {
    padding-top: 0px;
}
#leaderboard_top3_first .top3_podium_item_info {
    background-color: #0002444b;
    height: 340px;
}
#leaderboard_top3_first .top3_podium_item_pos {
    margin-bottom: 80px;
}


#leaderboard_top3_second {
    padding-top: 40px;
}
#leaderboard_top3_second .top3_podium_item_info {
    background-color: #0002444b;
    height: 300px;
}
#leaderboard_top3_second .top3_podium_item_pos {
    margin-bottom: 40px;
}


#leaderboard_top3_third {
    padding-top: 80px;
}
#leaderboard_top3_third .top3_podium_item_info {
    background-color: #0002444b;
    height: 260px;
}
#leaderboard_top3_third .top3_podium_item_pos {
    margin-bottom: 0px;
}

.top3_podium_item .top3_podium_item_pos {
    font-size: 100px;
    font-weight: 800;
    padding-top: 10px;
}

.top3_podium_item .top3_podium_item_pos sup {
    font-size: 40px;
}

.top3_podium_item .top3_podium_item_flag {
    width: 48px;
    height: 32px;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.top3_podium_item .top3_podium_item_flag img {
    width: 100%;
    height: 100%;
}

.top3_podium_item .top3_podium_item_callsign {
    font-size: 40px;
    font-weight: 500;
    padding-top: 10px;
}

.top3_podium_item .top3_podium_item_time {
    font-size: 40px;
    font-weight: 400;
    padding-top: 10px;
}




.leaderboard_top3_show_more .leaderboard_column {
    width: calc(50% - 24px);
    float: left;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    padding: 12px;
}

.leaderboard_top3_show_more .pilot_card_avatar {
    display: none;
}

.leaderboard_top3_show_more .pilot_card .pilot_card_data_item:last-child {
    display: none;
}

.leaderboard_top3_show_more .pilot_card_data {
    /*width: 120px;*/
    /*overflow: hidden;*/
    margin-right: 12px;;
}



/* END OF DDR LEADERBOARD TOP 3 */